.map-container {
    height: 400px;
}

.sidebar {
    background-color: #009879;
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    font-size: small;
    margin: 0px;
    border-radius: 4px;
}

.mapboxgl-control-container{
    display: none;
}