* {
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', sans-serif;
  }
  
  .content-container {
	display: flex;
	width: 100%;
	min-height: 300px;
  }

  @media(max-width:991px){
    .content-container {
        position: relative;
		display: flex;
        top: 115px;
        left: 0;
    }
}